body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

.logo {
  background-size: 130px, 33px !important;
  width: 130px;
  height: 33px;
  margin: 17px 0 16px 15px;
  float: left;
}

.ant-table.ant-table-middle .ant-table-title,
.ant-table.ant-table-middle .ant-table-footer,
.ant-table.ant-table-middle thead > tr > th,
.ant-table.ant-table-middle tbody > tr > td {
  padding: 1px 8px !important;
}

.ant-list-sm .ant-list-item {
  padding: 2px !important;
}

#signup .ant-form-item .ant-form-item-label {
  height: 48px;
  display: inline-grid;
  align-items: center;
  white-space: normal;
  padding-inline-end: 8px;
}

#signup .ant-form-item .ant-form-item-label > label {
  height: auto;
  display: block;
}

#signup .ant-form-item .ant-form-item-label > label::before {
  display: inline;
}

#signup .ant-form-item .ant-form-item-label > label::after {
  display: inline;
  margin: 0;
}
